/* шапка */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F5F5F5;

/* заголовок */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 100%;
color: #FFFFFF;

/* современный мир */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;

color: #000000;

/* важность навыков */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.5;
color: #000000;



/* Про работадателя и учебу, скажите вы, понятно. А зачем это конкретно мне? */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 59px;

color: #FFFFFF;


/* карточка */
/* Разнообразие взглядов и подходов */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;

/* black-bg */
color: #131313;

/* текст карточк */

/* Обучение в команде позволяет каждому участнику внести вклад в процесс обучения благодаря их уникальному опыту и знаниям. */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.5;
/* black-bg */
color: #131313;

/* взаимодействие */
/* Взаимодействие в команде может быть сложным, но если правильно настроиться и работать совместно, результаты могут быть впечатляющими. Важно со старта понять и принять: ни у кого не получалось идеально с первого раза! */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;

/* black-bg */
color: #131313;

/* но если */
color: #589F46;


/* важно */
color: #7125BC;



/* заголовок h2 */
/* И вот несколько советов, которые помогут настроиться на эффективное взаимодействие в команде: */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 59px;

color: #000000;

/* пункт меню */
/* Проявляйте инициативу. Если у вас есть идеи и предложения, поделитесь ими с коллегами. Вас могут удивить творческие решения, которые команда может разработать, объединив свои умы. Слушайте других. Умение слушать других участников группы является важным элементом успеха в командном взаимодействии. Вы должны быть открытыми для новых идей и решений, которые могут предложить ваши коллеги. Распределяйте задачи. Работа в команде необходима для эффективного выполнения задач. Она позволяет распределить обязанности между участниками команды, а также повышает мотивацию и эффективность работы. Будьте терпеливыми. Работа в команде не всегда проста. Она может включать в себя переговоры, споры и необходимость находить компромиссы. Но будьте терпеливыми и постарайтесь понимать точку зрения каждого участника группы. */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.5;

color: #000000;


/* Проявляйте инициативу. Если у вас есть идеи и предложения, поделитесь ими с коллегами. Вас могут удивить творческие решения, которые команда может разработать, объединив свои умы. Слушайте других. Умение слушать других участников группы является важным элементом успеха в командном взаимодействии. Вы должны быть открытыми для новых идей и решений, которые могут предложить ваши коллеги. Распределяйте задачи. Работа в команде необходима для эффективного выполнения задач. Она позволяет распределить обязанности между участниками команды, а также повышает мотивацию и эффективность работы. Будьте терпеливыми. Работа в команде не всегда проста. Она может включать в себя переговоры, споры и необходимость находить компромиссы. Но будьте терпеливыми и постарайтесь понимать точку зрения каждого участника группы. */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */

color: #000000;

/* Vk */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-decoration-line: underline;

/* text-light */
color: #F5F5F5;

/* Vёrstka ® 2023 */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
text-transform: uppercase;

color: #333333;

