.header {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #f5f5f5;
  background-color: #131313;
  display: flex;
  justify-content: space-between;
  padding: 30px 39px;
}

.header__menu {
  display: flex;
  justify-content: center;
  min-width: 247px;
  gap: 32px;
  align-items: center;
}

.header__menu-link {
  border-bottom: 1px solid #f5f5f5;
}

.link-active {
  border-bottom: none;
}

.main__cover {
  padding: 116px 39px;
  background-color: #2f2c45;
}

.main__cover-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  color: #ffffff;
}

.main__intro {
  padding: 60px 37px 60px 41px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__intro-text-team-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
}

.main__intro-text-skills {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.main__intro-text-employee {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.reasons {
  padding: 60px 39px;
  background-color: #2f2c45;
}

.reasons__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;

  color: #ffffff;
}

.reasons__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;

  color: #ffffff;
  margin-bottom: 40px;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.card {
  padding-top: 180px;
  border-radius: 20px;
  background-color: #f6c055;
  display: flex;
  flex-direction: column;
  min-height: 605px;
  position: relative;
}

.card-image {
  display: block;
  position: absolute;
  width: 74%;
  top: 9px;
  right: 43px;
}

.card-text-blok-white {
  border-radius: 0 0 20px 20px;
  background-color: #edf0f9;
  padding: 30px 30px 95px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-self: flex-end;
}

.card__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;

  color: #131313;
}

.card__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  color: #131313;
}

.interaction {
  padding: 60px 39px;
}

.advices {
  padding: 60px 39px;
}

.footer {
  padding: 30px 39px 0px;
}

/* Обучение в команде позволяет каждому участнику внести вклад в процесс обучения благодаря их уникальному опыту и знаниям. */

/*  */

/* взаимодействие */
/* Взаимодействие в команде может быть сложным, но если правильно настроиться и работать совместно, результаты могут быть впечатляющими. Важно со старта понять и принять: ни у кого не получалось идеально с первого раза! */

/* font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px; */

/* black-bg */
/* color: #131313; */

/* но если */
/* color: #589F46; */

/* важно */
/* color: #7125BC; */

/* заголовок h2 */
/* И вот несколько советов, которые помогут настроиться на эффективное взаимодействие в команде: */
/* font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 59px;

color: #000000; */

/* пункт меню */
/* Проявляйте инициативу. Если у вас есть идеи и предложения, поделитесь ими с коллегами. Вас могут удивить творческие решения, которые команда может разработать, объединив свои умы. Слушайте других. Умение слушать других участников группы является важным элементом успеха в командном взаимодействии. Вы должны быть открытыми для новых идей и решений, которые могут предложить ваши коллеги. Распределяйте задачи. Работа в команде необходима для эффективного выполнения задач. Она позволяет распределить обязанности между участниками команды, а также повышает мотивацию и эффективность работы. Будьте терпеливыми. Работа в команде не всегда проста. Она может включать в себя переговоры, споры и необходимость находить компромиссы. Но будьте терпеливыми и постарайтесь понимать точку зрения каждого участника группы. */

/* font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.5;

color: #000000; */

/* Проявляйте инициативу. Если у вас есть идеи и предложения, поделитесь ими с коллегами. Вас могут удивить творческие решения, которые команда может разработать, объединив свои умы. Слушайте других. Умение слушать других участников группы является важным элементом успеха в командном взаимодействии. Вы должны быть открытыми для новых идей и решений, которые могут предложить ваши коллеги. Распределяйте задачи. Работа в команде необходима для эффективного выполнения задач. Она позволяет распределить обязанности между участниками команды, а также повышает мотивацию и эффективность работы. Будьте терпеливыми. Работа в команде не всегда проста. Она может включать в себя переговоры, споры и необходимость находить компромиссы. Но будьте терпеливыми и постарайтесь понимать точку зрения каждого участника группы. */
/* font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px; */
/* or 150% */

/* color: #000000; */

/* Vk */

/* font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-decoration-line: underline; */

/* text-light */
/* color: #F5F5F5; */

/* Vёrstka ® 2023 */

/* font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
text-transform: uppercase;

color: #333333; */
