.header {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #f5f5f5;
  background-color: #131313;
  display: flex;
  justify-content: space-between;
  padding: 30px 39px;
}

.header__menu {
  display: flex;
  justify-content: center;
  min-width: 247px;
  gap: 32px;
  align-items: center;
}

.header__menu-link {
  border-bottom: 1px solid #f5f5f5;
}

.link-active {
  border-bottom: none;
}

.main__cover {
  padding: 116px 39px;
  background-color: #2f2c45;
}

.main__cover-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  color: #ffffff;
}

.main__intro {
  padding: 60px 37px 60px 41px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__intro-text-team-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
}

.main__intro-text-skills {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.main__intro-text-employee {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}

.reasons {
  padding: 60px 39px;
  background-color: #2f2c45;
}

.reasons__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;

  color: #ffffff;
}

.reasons__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;

  color: #ffffff;
  margin-bottom: 40px;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px 30px;
}

.card {
  padding-top: 180px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-color-orange {
  background-color: #f6c055;
}

.card-color-blue {
  background-color: #5493ce;
}

.card-color-green {
  background-color: #94d384;
}

.card-color-purple {
  background-color: #555680;
}

.card-image {
  display: block;
  position: absolute;
}

.card-text-blok-white {
  border-radius: 0 0 20px 20px;
  background-color: #edf0f9;
  padding: 30px 30px 0;
  min-height: 425px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;

  color: #131313;
}

.card__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  color: #131313;
}

.image-five-dots {
  width: 74%;
  top: 9px;
  right: 43px;
}

.image-butterfly {
  width: 57%;
  top: 34px;
  right: 71px;
}

.image-stairs {
  width: 72%;
  top: 30px;
  right: 47px;
}

.image-warm {
  width: 100%;
  top: 53px;
  right: 0px;
}

.interaction {
  padding: 60px 39px;
  background-color: #f2c94c;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #131313;
}

.span-accent-green {
  color: #589f46;
}

.span-accent-purple {
  color: #7125bc;
}

.advices {
  padding: 60px 39px;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.advices__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
}

.advices__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  list-style-image: url("../images/line.png");
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advices__span-accent {
  font-weight: 700;
}

.footer {
  padding-top: 30px;
  background-color: #131313;
  display: grid;
  grid-template-columns: 39px 83px 1fr 1fr 39px;
  grid-template-rows: 50px 1fr;
}

.footer__logo-link {
  grid-column: 2;
  grid-row: 1;
}

.footer__social-items {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 19px;
  
  color: #f5f5f5;
  grid-column: 4;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}

.footer-text {
  grid-column: 1/6;
  grid-row: 2;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #333333;
  text-align: center;
}

/* заголовок h2 */
/* И вот несколько советов, которые помогут настроиться на эффективное взаимодействие в команде: */
/* font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 59px;

color: #000000; */

/* пункт меню */
/* Проявляйте инициативу. Если у вас есть идеи и предложения, поделитесь ими с коллегами. Вас могут удивить творческие решения, которые команда может разработать, объединив свои умы. Слушайте других. Умение слушать других участников группы является важным элементом успеха в командном взаимодействии. Вы должны быть открытыми для новых идей и решений, которые могут предложить ваши коллеги. Распределяйте задачи. Работа в команде необходима для эффективного выполнения задач. Она позволяет распределить обязанности между участниками команды, а также повышает мотивацию и эффективность работы. Будьте терпеливыми. Работа в команде не всегда проста. Она может включать в себя переговоры, споры и необходимость находить компромиссы. Но будьте терпеливыми и постарайтесь понимать точку зрения каждого участника группы. */

/* font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.5;

color: #000000; */

/* Проявляйте инициативу. Если у вас есть идеи и предложения, поделитесь ими с коллегами. Вас могут удивить творческие решения, которые команда может разработать, объединив свои умы. Слушайте других. Умение слушать других участников группы является важным элементом успеха в командном взаимодействии. Вы должны быть открытыми для новых идей и решений, которые могут предложить ваши коллеги. Распределяйте задачи. Работа в команде необходима для эффективного выполнения задач. Она позволяет распределить обязанности между участниками команды, а также повышает мотивацию и эффективность работы. Будьте терпеливыми. Работа в команде не всегда проста. Она может включать в себя переговоры, споры и необходимость находить компромиссы. Но будьте терпеливыми и постарайтесь понимать точку зрения каждого участника группы. */
/* font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px; */
/* or 150% */

/* color: #000000; */

/* Vk */

/* font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-decoration-line: underline; */

/* text-light */
/* color: #F5F5F5; */

/* Vёrstka ® 2023 */

/* font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
text-transform: uppercase;

color: #333333; */
